:matches(body, blockquote) {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD",
        "Book Antiqua", Georgia, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Source Han Sans CN", "Source Han Serif", "Songti SC",
        serif;
}

code {
    font-size: 14px;
}

code.nohighlight {
    font-family: Consolas, Courier, "Courier New", monospace;
    font-size: 14px;
}
