/* Global Setting */
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

button,
input,
select,
textarea,
label {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.mermaid {
    text-align: center;
}

img {
    max-width: 100%;
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

.title h1 {
    font-size: 2.8em;
    font-variant: small-caps;
}

h2 {
    font-size: 1.2em;
}

.title h3 {
    font-style: italic;
    font-weight: normal;
}

h3,
h4,
h5,
h6 {
    font-size: 1em;
}

:matches(h1, h2, h3, h4, h5, h6):before {
    content: "#" !important;
    font-family: Hervetica;
    text-align: right;
    color: #bb2222;
    position: absolute;
    margin-left: -0.55em;
    margin-top: -0.1ex;
}

:matches(.vitae, .archive, .recipe, .title, .masthead)
    :matches(h1, h2, h3, h4, h5, h6):before {
    content: none !important;
}

:matches(h1, h2, h3, h4, h5, h6) code {
    font-size: 0.98em;
}

:matches(h1, h2, h3, h4, h5, h6) {
    line-height: 1;
    margin: 20px 0 8px 0;
    font-weight: bold;
}

blockquote {
    margin: 0;
    padding: 0 2em;
    position: relative;
}

blockquote > p:before {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -0.5em;
    margin-left: 0.2em;
    content: open-quote;
    font-size: 2.5em;
}

blockquote > p:after {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0.1em;
    margin-bottom: -1.1em;
    content: close-quote;
    font-size: 2.5em;
}

blockquote blockquote {
    background: #eee;
}

blockquote blockquote > p:after,
blockquote blockquote > p:before {
    content: none;
}

blockquote blockquote blockquote {
    background: #ddd;
}

blockquote blockquote blockquote > p:after,
blockquote blockquote blockquote > p:before {
    content: none;
}

/* List Styles */
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: square;
    padding: 0 0 0 20px;
}

ol {
    margin-left: 3px;
    padding: 0 0 0 20px;
}

/* Code */
pre code {
    font-size: 0.9em;
    display: block;
    padding: 1em;
    overflow-x: auto;
    line-height: 1.25;
}

code {
    background: #eee;
}

.highlight code {
    background: #eee;
}

/* Links */
a {
    color: #b40203;
    text-decoration: none;
}

sup a {
    border-bottom: none;
    margin-left: -3px;
}

sup {
    line-height: 5px;
}

h1 a {
    color: #000;
}

/* Layout */
body {
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
}

/* Masthead */
.masthead {
    position: fixed;
    padding: 10px 50px 20px 10px;
    float: left;
    width: 200px;
    background: #fff;
    height: 100vh;
    box-shadow: 5px 5px 5px #eee;
}

.masthead h1 {
    margin-top: 0;
    margin-bottom: 34px;
    padding: 0;
    text-align: center;
    font-size: 46px;
    line-height: 58px;
}

.masthead h1 a {
    border-bottom: none;
}

.masthead .tagline {
    font-style: italic;
    text-align: right;
}

.masthead .menu {
    margin-right: 18px;
    direction: rtl;
}

.masthead .menu a {
    direction: ltr;
}

.masthead .menu li {
    margin: 4px;
}

.masthead .menu ul ul {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.masthead .menu li li::before {
    content: "•\00a\000a0\00a0";
}

.masthead .menu a {
    display: inline-block;
    padding: 6px 5px 4px 5px;
    text-align: center;
    background: #b40203;
    border-bottom: 4px solid #702525;
    border-right: 4px solid #702525;
    border-top: 1px solid #702525;
    border-left: 1px solid #702525;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    position: relative;
    height: 34px;
    line-height: 20px;
    outline-width: 0px;
    text-shadow:
        0.7px 0.7px 0 #000,
        -0.7px 0.7px 0 #000,
        -0.7px -0.7px 0 #000,
        0.7px -0.7px 0 #000;
    vertical-align: middle;
    color: #ffffff;
    width: 72px;
}

.masthead .menu a:hover {
    display: inline-block;
    padding: 6px 5px 4px 5px;
    background: #c40607;
    border-bottom: 4px solid #702525;
    border-right: 4px solid #702525;
    border-top: 1px solid #702525;
    border-left: 1px solid #702525;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    position: relative;
    height: 34px;
    line-height: 20px;
    outline-width: 0px;
    text-shadow:
        0.7px 0.7px 0 #000,
        -0.7px 0.7px 0 #000,
        -0.7px -0.7px 0 #000,
        0.7px -0.7px 0 #000;
    vertical-align: middle;
    color: #ffffff;
    width: 72px;
}

.masthead .menu .active a {
    display: inline-block;
    padding: 6px 5px 4px 5px;
    background: #940002;
    border-bottom: 4px solid #5e0001;
    border-right: 4px solid #5e0001;
    border-bottom: 4px solid #702525;
    border-right: 4px solid #702525;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    position: relative;
    height: 34px;
    line-height: 20px;
    outline-width: 0px;
    vertical-align: middle;
    color: #ffffff;
    width: 72px;
}

.masthead .menu ul {
    text-align: center;
    list-style: none;
    list-style-position: inside;
    padding-left: 60px;
}

.masthead img {
    width: 100px;
    margin-top: 15px;
    margin-bottom: -45px;
    margin-left: 30px;
}

.blog {
    width: 100%;
}

/* Main */
.main {
    max-width: 1000px;
    margin-left: calc(50% - 400px);
    text-align: justify;
    min-height: calc(100vh - 60px);
    padding: 2em 40px;
    hyphens: auto;
    border: none;
}

.main nav ul {
    display: none;
}

.main .title h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

/*.main header ~ p:first-of-type::first-letter { font-size: 2.8em; padding: .1em .1em 0 0; float: left; line-height: 1em; }*/
.subtitle {
    font-size: 0.9em;
    color: #eee;
}

/* Archive */
.archive p {
    text-align: left;
    text-indent: -94px;
    padding-left: 94px;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 0;
}

.archive span {
    padding-right: 15px;
    font-style: italic;
}

.archive h2 {
    font-size: 2em;
    color: #eee;
}

.archive a {
    text-decoration: none;
    color: #000;
}

.archive a:hover {
    color: #c80004;
}

/* Miscellanea */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 50px auto;
    padding: 0;
    max-width: 300px;
}

.copyright {
    text-align: center;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.nav-next {
    margin-left: 1em;
    text-align: right;
}

.nav-prev {
    margin-right: 1em;
}

.post-nav a {
    color: #000;
}

.comments {
    margin-top: 20px;
}

/* Footnotes */
.footnotes {
    font-size: 0.9em;
}

.footnotes p {
    margin: 0;
}

.footnote-ref {
    padding-left: 0.3em;
}

/* Tables */
table {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    font-size: 15px;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 2px solid;
}

table thead {
    border-top: 2px solid;
    border-bottom: 1px solid;
}

table tr td {
    padding: 0px 10px;
    vertical-align: top;
    white-space: nowrap;
}

table tr th {
    padding: 0px 10px;
    vertical-align: top;
    white-space: nowrap;
}

table th {
    color: #000;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body {
    width: auto;
    padding: 0;
}

code {
    hyphens: none;
}

iframe,
twitterwidget,
video {
    max-width: 100%;
    display: block;
    margin: auto;
}

img[src$="#border"] {
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
}

/*figure {max-width: 100%;}*/
.anchor {
    display: none;
}

:hover > .anchor {
    display: inline;
}

.multicol {
    column-count: 2;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;
    -webkit-column-rule-color: black;
    -moz-column-rule-color: black;
    column-rule-color: black;
}

/* Small Screen */
@media screen and (max-width: 1200px) {
    .main {
        width: 100%;
        margin: auto;
        padding: 10px;
        padding-top: 180px;
    }

    .multicol {
        column-count: 1;
    }

    .masthead {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px 0 20px;
        text-align: center;
        margin: 10px auto;
    }

    .masthead .tagline {
        text-align: center;
    }

    .masthead .menu {
        width: 100vw;
        direction: ltr;
        max-width: 100%;
        margin: 0 auto;
    }

    .masthead .menu ul {
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .masthead .menu ul ul {
        margin: 0;
        padding: 0;
    }

    .masthead .menu li {
        border-bottom: 1px solid;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .masthead .menu ul {
        text-align: center;
        list-style: none;
        list-style-position: inside;
        padding: 0;
    }

    .masthead .menu li,
    .masthead .menu li:first-child {
        border: none;
        display: inline-block;
        margin-top: 5px;
    }

    .masthead img {
        width: 100px;
        margin-top: 5px;
        margin-bottom: -52px;
        margin-left: auto;
        margin-right: auto;
    }

    br.masthead-br {
        display: none;
    }
}

.contact {
    visibility: hidden;
}

@media print {
    html,
    body {
        border: none;
    }

    .main {
        width: 100%;
        margin: 0;
        padding: auto;
    }

    .masthead {
        display: none;
    }

    .title hr {
        visibility: hidden;
    }

    .contact {
        visibility: visible;
    }
}

.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

a:hover {
    color: #c80004;
}
